{% extends "template.html.twig" %}

{% block navigation %}
        <nav>
            <ul>
                <li><a href="{{ baseUrl }}/inscription">Inscription</a></li>
                <li><a href="{{ baseUrl }}/connexion">Se connecter</a></li>
                <li>
                    <input type="text" name="search" placeholder="Rechercher...">
                </li>
            </ul>
        </nav>
{% endblock %}

{% block body %}
    {% if movie != false %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://www.pontivy-communaute.bzh/medias/2019/09/goutte-eau.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ movie.title }} </h5> <span>Sortie : {{ movie.annee }}</span>
                <p>Genre : {{ movie.genre }}</p>
                <p class="card-text">{{ movie.synopsis }}</p>
            </div>
        </div>
    {% else %}
        <h1>Film non trouvé</h1>
    {% endif %}
{% endblock %}