{% extends "template.html.twig" %}

{% block navigation %}
        <nav>
            <ul>
                {% if session.auth is defined %}
                    <li><a href="{{ baseUrl }}/logout">Se déconnecter</a></li>
                {% else %}
                    <li><a href="{{ baseUrl }}/inscription">Inscription</a></li>
                    <li><a href="{{ baseUrl }}/connexion">Se connecter</a></li>
                {% endif %}
                <li>
                    <input type="text" name="search" placeholder="Rechercher...">
                </li>
            </ul>
        </nav>
{% endblock %}

{% block body %}
    {{ dump(session) }}
    {% for movie in movies %}
        {{ dump(movie) }}
    {% endfor %}
{% endblock %}
